.mapboxgl-map {
  width: 100%;
  height: min(70vh, 720px);
}

.mapboxgl-popup-content {
  background-color: var(--color-popover) !important;
  border: 1px solid var(--color-border) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0.75rem !important;
}

.mapboxgl-popup-tip {
  border-top-color: var(--color-popover) !important;
}

.mapboxgl-ctrl-group {
  background-color: var(--color-muted) !important;
  border: 1px solid var(--color-border) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.mapboxgl-ctrl-group button {
  background-color: transparent !important;
}

.mapboxgl-ctrl-group button + button {
  border-top: 1px solid var(--color-border) !important;
}

.mapboxgl-ctrl-group button:hover {
  background-color: var(--color-border) !important;
}

.mapboxgl-ctrl-icon {
  filter: invert(80%) saturate(300%) hue-rotate(38deg);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background-color: transparent;
  padding: 0.25rem 0.5rem;

  a {
    color: var(--color-muted-foreground);
  }
}

.mapboxgl-user-location-dot {
  background-color: var(--color-primary) !important;
}
.mapboxgl-user-location-dot::before {
  background-color: var(--color-primary) !important;
}
.mapboxgl-user-location-accuracy-circle {
  background-color: color-mix(
    in srgb,
    var(--color-primary) 15%,
    transparent
  ) !important;
}

/*
 * Fade the map into the page on the left,
 * slightly fade top/bottom as well.
 */
.mask-map {
  pointer-events: none;
  background:
    linear-gradient(to right, var(--background), transparent 12rem),
    linear-gradient(to left, var(--background), transparent 8rem),
    radial-gradient(circle at top left, transparent 80%, var(--background));
}
